table {
    width: 75%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.mat-form-field {
    font-size: 14px;
    width: 50%;
    margin-left: 20px;
}

th.mat-sort-header-sorted {
    color: black;
}

th {
    font-weight: bold;
}